{% extends "base.html" %} {% load static %} {% block page_header %}
<!-- Header Section -->
<section id="header-section" class="header-container py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center text-black logo-font">
          Welcome to Our Book Store
        </h1>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block content %}
<section id="main-content" class="container h-100 py-5">
  <div class="row h-100">
    <div class="col-7 col-md-6 my-auto">
      <h1 class="display-4 logo-font text-black">Buy the Latest Books!</h1>
      <div class="my-5">
        <h4>
          <a
            href="{% url 'products' %}"
            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"
          >
            Shop Now
          </a>
        </h4>
      </div>
    </div>
  </div>
</section>

<section id="newsletter-section" class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">Subscribe to Our Newsletter</h2>
    <p class="text-center">Get the latest updates on books, deals, and more!</p>
    <div id="mc_embed_shell">
      <link
        href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
        rel="stylesheet"
        type="text/css"
      />
      <div id="mc_embed_signup">
        <form
          action="https://gmail.us11.list-manage.com/subscribe/post?u=0761760220e5f9ecf93e6560a&amp;id=23c7298248&amp;f_id=00530fe1f0"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
        >
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <label for="mce-EMAIL"
                >Email Address <span class="asterisk">*</span></label
              >
              <input
                type="email"
                name="EMAIL"
                class="required email form-control"
                id="mce-EMAIL"
                required
              />
            </div>
            <div id="mce-responses" class="clear">
              <div
                class="response"
                id="mce-error-response"
                style="display: none"
              ></div>
              <div
                class="response"
                id="mce-success-response"
                style="display: none"
              ></div>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px">
              <input
                type="text"
                name="b_0761760220e5f9ecf93e6560a_23c7298248"
                tabindex="-1"
                value=""
              />
            </div>
            <div class="clear">
              <input
                type="submit"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="btn btn-primary mt-3"
                value="Subscribe"
              />
            </div>
          </div>
        </form>
      </div>
      <script type="text/javascript">
        (function ($) {
          window.fnames = new Array();
          window.ftypes = new Array();
          fnames[0] = "EMAIL";
          ftypes[0] = "email";
        })(jQuery);
        var $mcj = jQuery.noConflict(true);
      </script>
    </div>
  </div>
</section>
{% endblock %}
