{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <hr />
      <h2 class="logo-font">Contact Us!</h2>
      <hr class="w-50 mb-1" />
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="text-center mb-4">Contact Us</h3>
          <form method="POST" action="{% url 'contact' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Your Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Your Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input
                type="text"
                id="subject"
                name="subject"
                class="form-control"
                placeholder="Enter the subject"
                required
              />
            </div>
            <div class="form-group">
              <label for="message">Your Message</label>
              <textarea
                id="message"
                name="message"
                class="form-control"
                rows="5"
                placeholder="Enter your message"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="text-center mb-4">Our Address:</h3>
          <p>
            <strong>Book Store Shop</strong><br />
            Apartment 12<br />
            Alexander Court<br />
            Ireland
          </p>
          <p>
            <strong>Phone:</strong> 0894231064<br />
            <strong>Email:</strong> serjlucaci@gmail.com
          </p>
          <p>
            <strong>Working Hours:</strong><br />
            Monday - Friday: 9:00 AM - 5:00<br />
            Saturday-Sunday: Closed
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
