html {
  height: 100%;
}

body {
  background: url("/media/background.webp") no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #333;
  font-family: "Roboto", sans-serif;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: #007bff;
  color: white;
  min-width: 260px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-black {
  background: #6c757d;
  color: white;
  border-radius: 5px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #0056b3;
  color: white;
}

.text-black {
  color: #2c3e50 !important;
}

.border-black {
  border: 2px solid #2c3e50 !important;
}

.bg-black {
  background: white !important;
}

/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}
