{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <hr />
      <h2 class="logo-font">About Us!</h2>
      <hr class="w-50 mb-1" />
    </div>
  </div>

  <div class="col-md-12">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="text-center mb-4">Welcome to Book Store</h3>
        <p>
          At Book Store, we believe in making the joy of reading accessible to
          everyone. Our mission is to provide a wide range of books at
          unbeatable discounted prices, ensuring that every reader can find
          their next favorite story without breaking the bank.
        </p>
      </div>
      <div class="card-body">
        <h3 class="text-center mb-4">Why Choose Us?</h3>

        <ul>
          <li>
            Affordable Prices: We bring you the best books at prices that fit
            your budget, so you can read more without worrying about costs.
          </li>
          <li>
            Curated Recommendations: Not sure what to read next? Our
            personalized newsletter delivers handpicked book recommendations
            straight to your inbox, tailored to your tastes.
          </li>
          <li>
            Diverse Selection: From bestselling novels to hidden gems, our
            collection caters to every reader—whether you’re into fiction,
            non-fiction, thrillers, or romance.
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h3 class="text-center mb-4">Join Our Community of Book Lovers</h3>
        <p>
          Stay ahead of the literary curve by subscribing to our newsletter.
          You’ll receive:
        </p>
        <ul>
          <li>Exclusive discounts and deals..</li>
          <li>Personalized book recommendations.</li>

          <li>Updates on the latest arrivals and bestsellers.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
